* {
    box-sizing: border-box;
    font-family: sans-serif;
}

h1 {
    display: flex;
    justify-content:space-around;
    text-align: center;
    background-image: linear-gradient(to right,rgb(0, 165, 220), rgb(0, 0, 83));
    color: white;
    padding: 10px; 
    margin:0;
    font-size: 4vw;
}

h2 {
    margin:5px 0 5px 0;
    font-size: 2vw;  
}

#main-container {
    display: flex;
    margin:0;
    padding:0;
}

#nav-container {
    display:flex;
    flex-direction: column;
    width: 25%;
    padding:0px 15px 0px 15px;
}

#form {
    display: flex;
    flex-direction: column;
}

.form-label {
    font-size: 2.5vw;
    font-weight: bold;
    padding: 10px 0px 10px 0;
}

#userInput {
    padding: 5px 0px 5px 5px;
    margin: 0px 0px 10px 0;
}

#searchBtn {
    background-color: rgb(98, 172, 206);
    color: white;
}

hr {
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    text-align: center;
}

.btn, .btnCity {
    width:100%;
    border:none;
    background-color: rgb(197, 193, 193);
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
    font-size: 2vw;
}

.btn:hover, .btnCity:hover {
    opacity: 75%;
}

#weatherContainer {
    display: flex;
    flex-direction: column;
    width:70%;
    justify-content:left;
    margin: 10px 0 0 0;
}

#todaysWeather {
    border: 1px solid black;
}

#currentHead {
    font-size: 2.75vw;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    padding:0 0 0 5px;
}

#currentCity {
    padding:0px 6px 0 0;
    margin: 10px 0 15px 0;
}

#currentDate {
    margin: 10px 0 15px 0;
}

#currentTemp {
    font-size: 2.5vw;
    padding:0 0 0 5px;
    margin:0 0 15px 0;
}

#currentWind {
    font-size: 2.5vw;
    padding:0 0 0 5px;
}

#currentHumidity {
    font-size: 2.5vw;
    padding:0 0 0 5px;
}

#fiveDayForecast-container {
    display: flex;
    justify-content:space-between;
}

.fiveDayForecastCard {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    color: white;
    background-color: rgb(26, 37, 56);
    margin: 0 ;
    padding: 10px;
    font-size: 1.5vw;
    width:19%;
}

#icon1, #icon2, #icon3, #icon4, #icon5 {
    width: 50%;
}

.date {
    font-weight: bold;
    margin: 0 0 10px 0;
}

.cardInfo {
    padding: 10px 0 0 0;
    /* margin: 10px 0 0 0; */
}

@media screen and (max-width:700px) {

    /* #mainest-container {
        display:flex;
        justify-content: center;
    } */


    .left, .main, .right {
        width: 100%;
    }

    #main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #nav-container {
        width: 90%;
        flex-direction: column;
        justify-content:space-between;
        text-align: center;
        align-items: center;
    }

    #form {
        width:80%;
        text-align: center;
    }

    #userInput{
        font-size: 2vw;
        text-align: center;
    }

    #recentSearches {
        width: 80%;
    }

    #searchBtn {
        justify-content: left;
    }

    h2 {
        font-size: 3vw;
        text-align: center;
    }

    hr {
        display: none;
    }

    /* #weatherContainer {
        align-items: center;
    } */

    #fiveDayForecast-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .fiveDayForecastCard {
        width:90%;
        font-size: 3vw;
        text-align: center;
        align-items: center;
        margin: 4px;
    }

    #icon1, #icon2, #icon3, #icon4, #icon5 {
        width: 20%;
        align-items: center;
        
    }

    .btn, .searchBtn {
        align-items: center;
    }

    #todaysWeather {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    #currentHead {
        margin:0px;
    }

    #currentCity {
        font-size: 3.75vw;
        margin:10px 0px 0px 0px;
    }
    
    #currentDate {
        font-size: 3.75vw;
        margin:10px 0px 0px 0px;
    }

    #currentIcon {
        width:20%;
    }
    
    #currentTemp {
        font-size: 3vw;
        margin: 0px;
    }
    
    #currentWind {
        font-size: 3vw;
        margin: 0px;
    }
    
    #currentHumidity {
        font-size: 3vw;
        margin: 0px 0px 8px 0px;
    }

}